@import '~nativescript-theme-core/css/core.light.css';

.option-label {
    vertical-align: middle;
}

.option-slider {
    margin: 0 10;
}

.option-value {
    vertical-align: middle;
}

Button {
    padding: 0 10;
}